<div class="container">
    <div class="row mt-3">
        <label class="form-label fw-bold">實價登錄比價王</label>
        <div class="col">
            <textarea class="form-control min">
                {{ communityList | json }}
            </textarea>
        </div>
        <div class="col">
            <textarea class="form-control min">
                {{ communityDetail | json }}
            </textarea>
        </div>
    </div>
    <div class="row mt-3">
        <label class="form-label fw-bold">591</label>
        <div class="col">
            <textarea class="form-control min">
                {{ market591List | json }}
            </textarea>
        </div>
        <div class="col">
            <textarea class="form-control min">
                {{ market591Detail | json }}
            </textarea>
        </div>
    </div>
    <button class="btn btn-primary mt-3" [disabled]="isLoading" (click)="query()">
        <ng-container *ngIf="isLoading; else complated">
            <span class="spinner-border spinner-border-sm"></span>
            {{ loadingText }}
        </ng-container>
        <ng-template #complated>
            重新整理
        </ng-template>
    </button>
    <div class="row mt-3">
        <div class="col">
            version: {{ version }}
        </div>
    </div>
</div>